<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
</head>
<body class="container">

{{ include('nav.html.twig') }}

{% block body %}{% endblock %}

<script>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</script>
</body>
</html>
